flask
Jinja2
joblibgunicorn
kiwisolverMarkupSafematplotlib
pandas
numpy

Pillow
pipreqs
pyparsingpython-dateutilpytzrequests
opencv-python

sixthreadpoolctlurllib3Werkzeugyarg




keras
tensorflow-cpu

